{{ define "main" }}
<article class="post">
  <header>
    <h1>{{ .Title }}</h1>
  </header>

  {{ $totalTimeStr := partial "total-duration.html" . }}
 
  <p>
    Below is history of all my formal <b>engineering</b> education of
    <span class="timeline-tooltip">
      <u>{{ $totalTimeStr }}</u>
    </span>.
  </p>

  <section class="timeline education-section">
    {{ $lastLogo := "" }}
    {{ range (.Pages.ByParam "end").Reverse }}
      {{ partial "timeline-entry.html" (dict "Params" .Params "lastLogo" $lastLogo) }}
      {{ $lastLogo = .Params.logo }}
    {{ end }}
  </section>
</article>
{{ end }}
