{{ define "main" }}
<article class="post">
  <header>
    <h1>{{ .Title }}</h1>
  </header>
  
  {{ $universityPages := where .Pages "Params.education_type" "==" "university" }}
  {{ $engineeringSchoolPages := where .Pages "Params.education_type" "==" "engineering_school" }}
 
  {{ $totalDuration := partial "computations/total-duration.html" (dict "Pages" .Pages "AsLongText" true) }}
  {{ $universityDuration := partial "computations/total-duration.html" (dict "Pages" $universityPages "AsLongText" false) }}
  {{ $engineeringSchoolDuration := partial "computations/total-duration.html" (dict "Pages" $engineeringSchoolPages "AsLongText" false) }}


  {{- $parts := slice -}}
  {{- if ne $universityDuration "" -}}
  {{- $parts = $parts | append (printf "%s: %s" (i18n "university") $universityDuration ) -}}
  {{- end -}}
  
  {{- if ne $engineeringSchoolDuration "" -}}
  {{- $parts = $parts | append (printf "%s: %s" (i18n "engineering_school") $engineeringSchoolDuration ) -}}
  {{- end -}}

  {{- $detailsStr := delimit $parts " | " -}}

  {{ $detailsElement := partial "inline-details.html" (dict
    "summary" $totalDuration
    "details" $detailsStr
  )}}

  <p>
    {{ printf .Params.Summary $detailsElement | safeHTML }}
  </p>

  <section class="timeline education-section">
    {{ $lastLogo := "" }}
    {{ range (.Pages.ByParam "end").Reverse }}
      {{ partial "timeline-entry.html" (dict "Params" .Params "lastLogo" $lastLogo "File" .File) }}
      {{ $lastLogo = .Params.logo }}
    {{ end }}
  </section>
</article>
{{ end }}
