{{ define "main" }}
<article class="post">
  <header>
    <h1>{{ .Title }}</h1>
  </header>
  <section>
    {{ .Content }}
    <ul class="education-list">
      {{ range (.Pages.ByParam "end").Reverse }}
        <li class="education-list-item">
          <div class="education-item">
            {{ partial "education-item-header.html" . }}
            {{ partial "education-item-details-short.html" . }}
            <!-- {{ partial "tags.html" . }} -->
          </div>
          <!-- <a class="btn" href="{{ .RelPermalink }}">More Info</a> -->
        </li>
      {{ end }}
    </ul>
  </section>
</article>
{{ end }}
