.profile_inner img {
    transition: transform 0.3s ease;
}

.profile_inner img:hover {
    transform: scale(1.2);
}

.contact {
    font-size: medium;
}

.contact a {
  text-decoration: underline;
}

.about-me p {
  margin-bottom: 1rem;
}

.about-me a {
  text-decoration: underline;
  color: var(--general-link);
}