.logo-container {
  flex-shrink: 0;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--logo-bg, #ffffff);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid #ffffff;
  position: relative
}

.logo-wrapper img {
  width: 75%;
  height: 75%;
  object-fit: contain;    /* Keeps the image filling the div nicely */
  transition: transform 0.3s ease;
}

.logo-wrapper img:hover {
  transform: scale(1.2); /* Slight zoom on hover */
}

.logo-wrapper:hover {
  transition: transform 0.3s ease;
}
