:root {
    --main-width: 850px;
    --logo-background: rgb(255, 255, 255);
    --logo-border: rgb(55, 56, 62);

    /* https://flatuicolors.com/palette/in */
    --work-header: #6c5ce7;
    --education-header: #6c5ce7;
    --publication-color: #6c5ce7;
    --link: #6c5ce7;
    --link-hover: #5743e8;
    --link-font: #ffffff;
}

.dark {
    --work-header: #a29bfe;
    --education-header: #a29bfe;
    --publication-color: #a29bfe;
}