.timeline {
    position: relative;
    margin-top: 1rem;
}

.timeline::before {
    content: "";
    position: absolute;
    /* (logo width - width of timeline) / 2 */
    left: 33.5px;
    top: 0;
    bottom: 0;
    width: 3px;
    /* width of timeline */
    background: var(--primary);
}

.timeline-logo-container {
    position: relative;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-logo-container img {
    width: 70px;
    height: 70px;
    border-radius: 0.5rem;
    background: var(--logo-background);
    border-color: var(--logo-border);
    padding: 0.25rem;
    z-index: 2;

    object-fit: contain;
    /* Keeps the image filling the div nicely */
    transition: transform 0.3s ease;
}

.timeline-logo-container img:hover {
    transform: scale(1.2);
    /* Slight zoom on hover */
}

.timeline-logo-container:hover {
    transition: transform 0.3s ease;
}

.timeline-entry {
    position: relative;
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.timeline-content {
    flex: 1;
    background-color: var(--entry);
    border-radius: 0.5rem;
    padding: 1rem;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); */
    margin-left: 0rem;
    /* offsets from the timeline line */
    position: relative;
    transition: background-color 0.3s ease;
}

.timeline-content:hover {
    background-color: var(--tertiary);
}

.timeline-meta {
    margin-bottom: 0.8rem;
}

.timeline-meta .title {
    font-size: 1.5rem;
    font-weight: bolder;
}

.timeline-meta .institution {
    font-size: 1.5rem;
    font-weight: normal;
}

.timeline-meta .duration, .location {
    font-size: 1rem;
    font-weight: normal;
}

.timeline-content .key-points {
  padding-left: 1rem;
  list-style-type: disc;
}

.timeline-content .key-points li {
  margin-bottom: 0.5rem;
}

.timeline-content .key-points-l2 {
  padding-left: 1rem;
  list-style-type: disc;
}

.timeline-content .key-points-l2 li {
  margin-bottom: 0.5rem;
}