.work-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.work-list-item {
  margin-bottom: 2rem;
  margin-top: 2rem;
  /* border-left: 3px solid; */
  padding: 1rem;
  padding-left: 1rem;
  border-left: 4px solid #007acc;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.03); /* Light grey for light mode */
}

.work-item h2 {
  /* margin: 0; */
  font-weight: bold;
}

.work-item h3 {
  /* margin: 0; */
  font-weight: normal;
}

.work-item .date {
  font-size: 0.9rem;
  margin-top: 0.2rem;
}

.work-item .summary {
  margin-top: 0.5rem;
}

/* Light Theme (default) */
body.light .work-list-item {
  color: #333;
  border-left-color: #007acc;
}

body.light .work-list-item h2 {
  color: #00b1be;
}

body.light .work-list-item h3 {
  color: #666;
}

body.light .work-item .date {
  color: #a67171;
}

/* Dark Theme */
body.dark .work-list-item {
  color: #e3e3e3;
  border-left-color: #007acc;  
  background-color: rgba(255, 255, 255, 0.05); /* Slight white tint for dark mode */
  border-left-color: #007acc;
}

body.dark .work-item h2 {
  color: #007acc;
}

body.dark .work-item h3 {
  color: #e3e3e3;
}

body.dark .work-item .date {
  color: #e3e3e3;
}


.btn {
  display: inline-block;
  margin-top: 0.5rem;
}

a.btn {
  display: inline-block;
  padding: 0.2em 0.5em;
  border: 2px solid #007acc;
  border-radius: 5px;
  text-decoration: none;
  color: #007acc;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

a.btn:hover {
  background-color: #007acc;
  color: white;
}

/* Default (Light Mode) Styling for Tags */
.tags {
  margin-top: 1rem;
  font-size: 0.85rem;
  color: #777;  /* Light grey for light theme */
}

.tag {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #f0f0f0;  /* Light background for light theme */
  color: #007acc;
  border-radius: 3px;
  font-weight: normal;
  text-transform: none;
  border: 1px solid #ddd;
}

/* Dark Mode Adjustments */
@media (prefers-color-scheme: dark) {
  .tags {
    color: #bbb;  /* Slightly lighter grey for dark theme */
  }

  .tag {
    background-color: #333;  /* Dark background for dark theme */
    color: #63acff;  /* Lighter blue for dark theme */
    border: 1px solid #444;  /* Darker border for dark theme */
  }

  .tag:hover {
    background-color: #58a6ff;
    color: #333;
    border-color: #005fa3;
  }
}

/* Hover states */
.tag:hover {
  background-color: #007acc;
  color: white;
  border-color: #005fa3;
}

.work-item-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.job-meta .title {
  margin: 0;
  font-size: 1.6rem;
  color: #00ff48;
}

.job-meta .company {
  margin: 0;
  font-weight: normal;
  font-size: 1.4rem;
  color: #555;
}

.job-meta .date {
  margin: 0;
  font-size: 1.1rem;
  color: #888;
}

.job-meta .location {
  margin: 0;
  font-size: 1.1rem;
  color: #e9e9e9;
}

.job-details {
  font-size: 1.1rem;
}

.job-details .key-points {
  padding-left: 1rem;
  list-style-type: disc;
}

.job-details .key-points li {
  margin-bottom: 0.5rem;
}

.job-details .key-points-l2 {
  padding-left: 1rem;
  list-style-type: disc;
}

.job-details .key-points-l2 li {
  margin-bottom: 0.5rem;
}
