{{ define "main" }}
<article class="post">
  <header>
    <h1>{{ .Title }}</h1>
  </header>
  
  {{ $partTimePages := where .Pages "Params.employmentType" "==" "part_time" }}
  {{ $fullTimePages := where .Pages "Params.employmentType" "==" "full_time" }}
 
  {{ $totalDuration := partial "computations/total-duration.html" (dict "Pages" .Pages "AsLongText" true) }}
  {{ $partTimeDuration := partial "computations/total-duration.html" (dict "Pages" $partTimePages "AsLongText" false) }}
  {{ $fullTimeDuration := partial "computations/total-duration.html" (dict "Pages" $fullTimePages "AsLongText" false) }}


  {{- $parts := slice -}}
  {{- if ne $fullTimeDuration "" -}}
  {{- $parts = $parts | append (printf "%s: %s" (i18n "full_time") $fullTimeDuration ) -}}
  {{- end -}}

  {{- if ne $partTimeDuration "" -}}
  {{- $parts = $parts | append (printf "%s: %s" (i18n "part_time") $partTimeDuration ) -}}
  {{- end -}}

  {{- $detailsStr := delimit $parts " | " -}}

  {{ $detailsElement := partial "inline-details.html" (dict
    "summary" $totalDuration
    "details" $detailsStr
  )}}

  <p>
    {{ printf .Params.Summary $detailsElement | safeHTML }}
  </p>

  <section class="timeline work-section">
    {{ $lastLogo := "" }}
    {{ range (.Pages.ByParam "end").Reverse }}
      {{ partial "timeline-entry.html" (dict "Params" .Params "lastLogo" $lastLogo "File" .File ) }}
      {{ $lastLogo = .Params.logo }}
    {{ end }}
  </section>
</article>
{{ end }}
