<div class="publication-bibtex">
  <strong>BibTeX</strong><br>
  <pre>@{{ .Params.bibentry }}{{ "{" }}{{ .Params.key }},<br>
    title = {{ printf "{%s}" .Params.title }},<br>
    author = {{ printf "{%s}" (delimit .Params.authors " and ") }},<br>
    {{ with .Params.bib.booktitle }}booktitle = {{ printf "{%s}" . }},<br>{{ end }}
    {{ with .Params.bib.journal }}journal = {{ printf "{%s}" . }},<br>{{ end }}
    {{ with .Params.bib.publisher }}publisher = {{ printf "{%s}" . }},<br>{{ end }}
    {{ with .Params.bib.address }}address = {{ printf "{%s}" . }},<br>{{ end }}
    {{ with .Params.bib.url }}url = {{ printf "{%s}" . }},<br>{{ end }}
    {{ with .Params.bib.doi }}doi = {{ printf "{%s}" . }},<br>{{ end }}
    {{ with .Params.bibs }}pages = {{ printf "{%s}" . }},<br>{{ end }}
    {{ with .Params.bib.location }}location = {{ printf "{%s}" . }},<br>{{ end }}
    year = {{ .Params.year }}<br>
  }</pre>
</div>
