<div class="timeline-entry" id="{{ .File }}">
  <div class="timeline-logo-container">
    {{ warnf "%s %s" .Params.logo}}
    {{ if not (eq .lastLogo .Params.logo) }}
    <a href="{{ .Params.institution_url }}" target="_blank" rel="noopener">
      <img src="{{ .Params.logo | relURL }}" alt="{{ .Params.institution }} logo">
    </a>
    {{ end }}
  </div>
  <div class="timeline-content">
    <div class="timeline-meta">
      <h2 class="title">{{ .Params.title }}</h2>
      <p class="institution">{{ .Params.institution }}</p>
      <p class="duration">
        {{- $timeSpanStr := partial "formatting/format-timespan" . -}}
        {{- $duration := partial "computations/page-duration" . -}}
        {{- $durationStr := partial "formatting/format-duration.html" (dict "Days" $duration) -}}
        {{- $timeSpanStr -}}({{- $durationStr -}}){{- with .Params.employmentType -}}, {{- i18n . -}} {{- end -}}
      </p>
      <p class="location">{{ .Params.location }}</p>
    </div>
    
    <p>{{ .Params.summary }}</p>
    {{ with .Params.key_points }}
      <ul class="key-points">
          {{ range . }}
              {{ if reflect.IsMap . }}
                  <li>
                      <strong>{{ .title }}:</strong>
                      <ul class="key-points-l2">
                          {{ range .key_points }}
                              <li>{{ . }}</li>
                          {{ end }}
                      </ul>
                  </li>
              {{ else }}
                  <li>{{ . }}</li>
              {{ end }}
          {{ end }}
      </ul>
    {{ end }}

    {{ with .Params.takeaway }}
      <p class="takeaway"><strong>Takeaway:</strong> {{ . }}</p>
    {{ end }}

    {{ with .Params.tags }}
      <div class="tags">
        {{ range . }}
          <span class="tag">{{ . }}</span>
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>
