{{ define "main" }}
<article class="post">
  <header>
    <h1>{{ .Title }}</h1>
  </header>
  
  <section class="publications-section">
    {{ $grouped := .Pages.GroupByParam "year" }}
    {{ range sort $grouped "Key" "desc" }}
    <div class="publication-group">
      <h2 class="publication-year-title">{{ .Key }}</h2>
      {{ range (.Pages.ByParam "month").Reverse  }}
      <div class="publication-entry">
        {{ if .Params.image }}
          <div class="publication-image-container">
             {{ if .Params.image }}
              <!-- file path to use for loading the image -->
              {{ $fileName := (.Params.image ) | relURL }}
              <!-- file path for file on disk (to check for issues) -->
              {{ $serverFilePath := (urls.JoinPath "static" $fileName) | relURL }}

              {{- if not (fileExists $serverFilePath) -}}
                {{- warnf "Image does not exist: %s (in %s)" $fileName . -}}
              {{- else -}}
                <a href="{{ .RelPermalink }}">
                  <img src="{{ $fileName }}" alt="[image: {{ $.Title }}]" class="publication-image-preview">

                </a>
              {{- end -}}
            {{ end }}
          </div>
        {{ end }}
        <div class="publication-metadata">
          <a class="publication-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
          <div class="publication-meta">
            <div class="authors">
              {{ partial "render-authors.html" .Params.authors }}
            </div>
            <div class="conference">
              {{ partial "render-conference.html" . }}
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}
  </section>
</article>
{{ end }}
  